body {
    margin: 0;
    color: #cccccc;
    background-color: #222222;
    font-family: sans-serif;
}

.url {
    color: #55bbff;
    text-decoration: underline;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.video {
    margin: 8px;
    width: 360px;
}

.preview {
    width: 100%;
}

.meta {
    display: flex;
}

.info {
    flex-grow: 1;
    min-width: 0;
}

.info > * {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: inherit;
}

.header {
    position: sticky;
    top: 0;
    padding: 12px;
    background-color: #333333;
}

.header > .chapter {
    font-style: italic;
}

.header > .timestamp {
    margin: 0;
}

.comments {
    padding: 0;
    list-style: none;
}

.comment {
    display: flex;
    padding: 0.2em 8px;
}

.highlight {
    background-color: #333333;
}

.icon {
    flex-shrink: 0;
    margin: 0.5em 0;
    width: 1em;
    min-height: 1em;
    border-radius: 0.2em;
    color: inherit;
    background-color: #a970ff;
    text-decoration: inherit;
}

.name {
    color: #a970ff;
}

.details {
    display: none;
    position: absolute;
    margin-left: 1em;
    padding: 0.5em 1em;
    max-width: 20em;
    border-radius: 0.2em;
    background-color: #333333;
    word-wrap: break-word;
}

*:hover > .details {
    display: block;
}

.bio {
    margin-top: 0.5em;
    font-style: italic;
}

.message {
    margin: 0 0.5em;
    line-height: 2;
    overflow: auto;
    word-wrap: break-word;
}

.badge {
    margin: calc(0.5lh - 0.5em) 0;
    height: 1em;
    vertical-align: top;
}

.emote {
    height: 2em;
    vertical-align: top;
}

.mention {
    color: inherit;
    text-decoration: inherit;
}

.mention > .name {
    text-decoration: underline;
}
